body {
  padding: 1em 1.5em 1em 1.5em;
}

.header{
	background-image:url("http://plugin.subtlepatterns.com/static/images/patterns/ricepaper.png");
	padding:10px;
}
.header h1 {
	display:inline-block;
}

.header span {
	background-color: #ccddee;
	padding:5px;
	border : 1px solid blue;
	border-radius: 5px;
	margin-top:15px;
	float:right;
	cursor:pointer;
}

.hidden { display : none;}
.visible { display : inline-block;}